* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #121212;
  color: #ffffff;
}

/* main */

.hero__image--dark {
  filter: invert(99%) sepia(35%) saturate(118%) hue-rotate(212deg)
    brightness(115%) contrast(100%);
    width: 200px;
}

.hero__signup {
  text-decoration: none;
  color:#121212;
}

/* loggedin/explore */

.home__link--item{
  text-decoration: none;
}
.home__link--item:visited{
  color: inherit;
}

.logo {
  filter: invert(99%) sepia(35%) saturate(118%) hue-rotate(212deg)
    brightness(115%) contrast(100%);
    width: 3rem;
}

/* not in use? */

.home__book{
  width: 100%;
  height: auto;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.book__card--title {
  font-size: 1rem;
}

/* shelves */

.clicked {
  color: #66bb6a;
}